BODY, HTML { 
    background: #111;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.mr-wallet-button, .mr-menu-list {
    border-radius: 5px;
    background:rgba(0,0,0,0.95)!important;
    color: #FFF!important;
    border:0px;
}
.tokengate div {
    margin: 0px auto!important;
    text-align: center!important;
    line-height:1em;
    vertical-align: middle;
}

.mr-menu-list {
    padding-top: 10px;
}

.unlocked, .restricted {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}
.unlocked {
    background:rgba(0,150,0,0.95);
    color:#FFF;
    padding: 10px 18px;
    border-radius: 6px;
    border:0px;
    cursor: pointer;
    width: auto;
    text-align: center;
}
.restricted {
    color: #CC0000;
}
DIV.tokengate {
    width: auto;
    max-width: 30%;
    margin: 0px auto;
    text-align: center;
}

.unlocked A, .restricted A {
    background:rgba(0,0,0,0.95);
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    display:inline-block;
}
.lvlyBadge {
    display:inline-block;
    background: rgb(44,18,171);
    background: linear-gradient(0deg, rgba(44,18,171,1) 0%, rgba(255,0,71,1) 100%);
    color: rgba(255, 255, 255, 0.95);
    font-weight: bolder;
    padding:0px 6px 2px 6px;
    font-size: 10px;
    line-height: 14px;
    margin-top:-10px!important;
    margin-left: 6px;
    position: absolute;
    border-radius: 3px;
    letter-spacing: -.5px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);    
}
.lvlyBadge::before {
    content: "ğ—¹ğ˜ƒğ—¹ğ˜†.ğ—¶ğ—¼"; 
}